<h1>Add a new factory</h1>

<!-- this is a HTML file with embedded Ruby code to create a form to capture user input
      I partitioned the form with 'divs'into three main parts to suit the UC1 SFR steps
      and offered to cancel the process at for SFR6 step 3a-->
<%= form_for @factory do |f| %>
         <div>
           <%= f.label :name %> 
           <%= f.text_field :name, placeholder: "Name of factory", autofocus: true %>
         </div>

        <div>
          <%= f.label :address %>
        </div>
        <div>
          <%= f.text_field :address, rows:5, placeholder: "Address of factory" %>
        </div>
          
        <div>
          <!-- Asking confirmation from user for SFR -->
          <%= f.submit :onclick =>"return confirm('Sure')", class: "btn btn-primary btn-lg" %>
        </div>
      
    <% end %>
    
         
  