<div class="factory">
    <h1>Recorded Factory's Details</h1>
    <p>Factory name: <%= @factory.name %></p>
    <p>Factory ID: <%= @factory.id %></p>
    <p>Factory Address: <%= @factory.address%></p>
</div>
----------------------------------------------------

<% @factory.vendingmachines.each do |v| %>
<p><%= link_to v.title , new_stockchecksheet_path(v) %></p>
<p>Machine ID: <%= v.id %></p>


----------------------------------------------------


<% end %>

<p><%= link_to "Add new vending machine", new_vendingmachine_path %></p>
<p><%= link_to "Record new factory", new_factory_path %></p>

<p><%= link_to "Home Page", root_path %></p>