<h1>Single broken tool report</h1>
<p><%= @brokentoolreportsheet.toolname %></p>
<p><%= @brokentoolreportsheet.toolfault %></p>
<p><%= @brokentoolreportsheet.toollocation %></p>
<p><%= link_to "Record new broken tool for collection", new_brokentoolreportsheet_path %></p>
<p><%= link_to "Display list of recorded broken tools", brokentoolreportsheets_path %></p>